<section class="about" id="about">
  <div class="container">
    <h2>
      About
    </h2>
    <span class="seperator">
    </span>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="about__image img-container">
          <img src="http://picsum.photos/800/900" alt="My Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="about__content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quae quibusdam suscipit placeat voluptas
            accusantium fugit error et, obcaecati vitae! Ea voluptate inventore animi corporis unde, quod qui maiores
            dolore.
          </p>
          <div class="about__list">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li><i class="fas fa-chevron-right"></i>Lorem ipsum dolor sit</li>
                  <li><i class="fas fa-chevron-right"></i>Lorem ipsum dolor sit</li>
                  <li><i class="fas fa-chevron-right"></i>Lorem ipsum dolor sit</li>
                  <li><i class="fas fa-chevron-right"></i>Lorem ipsum dolor sit</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li><i class="fas fa-chevron-right"></i>Lorem ipsum dolor sit</li>
                  <li><i class="fas fa-chevron-right"></i>Lorem ipsum dolor sit</li>
                  <li><i class="fas fa-chevron-right"></i>Lorem ipsum dolor sit</li>
                  <li><i class="fas fa-chevron-right"></i>Lorem ipsum dolor sit</li>
                </ul>
              </div>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint minus ipsam dolorem totam, officia, ea, ipsa aspernatur aliquid rerum sunt voluptatibus odit consequuntur vel molestiae iure. Velit quos cupiditate suscipit facere doloribus odit officiis voluptatum possimus modi. Quasi eius ea animi voluptatum, perspiciatis dolores dignissimos iste eum odio ex eveniet.</p>
        </div>
      </div>
    </div>
  </div>
</section>
