<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>
        skills
      </h2>
      <span class="seperator"></span>
      <ul class="d-flex">
        <li>
          <i class="devicon-angularjs-plain"></i>
        </li>
        <li>
          <i class="devicon-firebase-plain"></i>
        </li>
        <li>
          <i class="devicon-bootstrap-plain"></i>
        </li>
        <li>
          <i class="devicon-css3-plain"></i>
        </li>
        <li>
          <i class="devicon-html5-plain"></i>
        </li>
        <li>
          <i class="devicon-javascript-plain"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="resume__details">
    <div class="container">
      <h2>Resume</h2>
      <div class="seperator"></div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore qui reiciendis, ipsa in quo tempora neque aut
        suscipit quidem et? Esse fugiat fuga totam commodi.</p>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h2>Sumary</h2>
          <div class="resume__resume-item">
            <h3>Nisan Shamir</h3>
            <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aperiam quisquam voluptate, facere
              cumque natus voluptates ipsum laudantium distinctio? Veniam.</i>
              <ul>
                <li>Email: nsn11ster@gmail.com</li>
                <li>Phone: 0547747316</li>
                <li>Address: Nof Ayalon</li>
              </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12"></div>
      </div>
    </div>
  </div>
</section>
